---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import BulletPoint from '../components/BulletPoint.astro';

import { Image } from 'astro:assets';
import chisiamoImage from '../assets/chi-siamo.jpg';
---

<Layout title="Chi siamo - AFK Progetto Giovani">
    <main>
        <PageTitle title="CHI SIAMO?" />
        <section class="section-light">
            <div>
                <h2>LONTANO DAGLI SCHERMI, FUORI DAGLI SCHEMI</h2>
                <p>Siamo un gruppo composto da persone di diverse età con l'obiettivo di stare lontano dagli schermi ma fuori dagli schemi. Insieme impariamo a credere in noi stessi, attraverso nuove sfide e</p>    
            </div>
            <div>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section>
            <div>
                <h2>I NOSTRI OBIETTIVI</h2>
                <div class="bullet-points">
                    <BulletPoint icon="fa-solid fa-face-laugh-wink" text="Sostenere le nuove generazioni creando momenti di unione" />
                    <BulletPoint icon="fa-solid fa-masks-theater" text="Promuovere l'arte e la cultura" />
                    <BulletPoint icon="fa-solid fa-heart" text="Devolvere il ricavato degli spettacoli in beneficenza" />
                </div>
            </div>
        </section>
        <section class="section-light">
            <div>
                <h2>I SOCI FONDATORI</h2>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section class="section-light">
            <div>
                <h2>TEAM SCRITTURA</h2>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section class="section-light">
            <div>
                <h2>TEAM COMUNICAZIONE</h2>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section class="section-light">
            <div>
                <h2>LA NOSTRA STORIA</h2>
                <div class="timeline-grid">
                    <div>
                        <h3 class="timeline-title"><i class="fa-solid fa-calendar"></i> 2020</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div>
                        <h3 class="timeline-title"><i class="fa-solid fa-calendar"></i> 2021</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur</p>    
                    </div>
                    <div>
                        <h3 class="timeline-title"><i class="fa-solid fa-calendar"></i> 2022</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur</p>    
                    </div>
                    <div>
                        <h3 class="timeline-title"><i class="fa-solid fa-calendar"></i> 2023</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur</p>    
                    </div>
                </div>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section class="section-light">
            <div>
                <h2>TRASPARENZA</h2>
                <a href="#">Statuto dell'associazione AFK PROGETTO GIOVANI</a>    
            </div>
        </section>
    </main>
</Layout>

<style>
    .timeline-grid {
        display: grid;
        gap: var(--space-m);
        text-align: center;
    }
    .timeline-title {
        display: inline-block;
        margin-bottom: var(--space-s);
        padding: 0 var(--space-m);
        border-radius: var(--border-radius);
        background: var(--white-1);
    }

    a {
        text-align: center;
        text-decoration: underline;
    }

    @media screen and (min-width: 1000px) {
        .bullet-points {
            display: flex;
            flex-direction: row;
            gap: var(--space-l);
        }

        .timeline-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
