---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import BulletPoint from "../components/BulletPoint.astro";
import TextImage from "../components/TextImage.astro";
import FeaturedBulletPoints from "../components/FeaturedBulletPoints.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Grid from "../components/Grid.astro";
import PeopleSlideshowCard from "../components/PeopleSlideshowCard.astro";
import TextVideo from "../components/TextVideo.astro";

import { Image } from "astro:assets";
import chiSiamoImage from "../assets/chi-siamo.jpg";
import laNostraStoriaImage from "../assets/la-nostra-storia.jpg";

// People slideshow cards
// import salvatoreTranchinaImage from '../assets/people/SalvatoreTranchina.png';
// const sociFondatori = [
//     {name: 'Adriano Max', role: 'Fondatore', img: salvatoreTranchinaImage, alt: 'Adriano Max'},
//     {name: 'Salvatore Tranchina', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Salvatore Tranchina'},
//     {name: 'Maria Teresa Piraino', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Maria Teresa Piraino'}
// ];
// const teamScrittura = [
//     {name: 'Adriano Max', role: 'Fondatore', img: salvatoreTranchinaImage, alt: 'Adriano Max'},
//     {name: 'Salvatore Tranchina', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Salvatore Tranchina'},
//     {name: 'Maria Teresa Piraino', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Maria Teresa Piraino'}
// ];
// const teamComunicazione = [
//     {name: 'Samuele Max', role: 'Web Developer', img: salvatoreTranchinaImage, alt: 'Samuele Max'},
//     {name: 'Federico Capuzzi', role: 'Digital Communication', img: salvatoreTranchinaImage, alt: 'Federico Capuzzi'},
//     {name: 'Joselyn Zambrano', role: 'Digital and Graphic Designer', img: salvatoreTranchinaImage, alt: 'Joselyn Zambrano'}
// ];
---

<Layout title="Chi siamo - AFK Progetto Giovani">
    <main>
        <PageTitle title="CHI SIAMO?" img="/pagetitles/chi-siamo.webp" />
        <section class="section-light">
            <TextImage img={chiSiamoImage} alt="Una foto di noi">
                <h2>LONTANO DAGLI SCHERMI, FUORI DAGLI SCHEMI</h2>
                <p>
                    Siamo un gruppo di giovani pieni di entusiasmo, adoriamo il
                    teatro e ogni forma d’arte, e vogliamo provare a cambiare il
                    mondo seguendo le nostre passioni e coltivando la nostra
                    unicità.
                </p>
                <p>
                    Il motto che ci guida è ‘Lontano dagli schermi, fuori dagli
                    schemi!’, e anche se ognuno di noi studia o lavora, ci
                    incontriamo ogni settimana per realizzare nuovi progetti, e
                    per trasformare i nostri sogni in realtà.
                </p>
                <p>
                    Il musical è il genere a noi più congeniale, ma siamo aperti
                    ad ogni tipo di contaminazione culturale. Oltre ad occuparci
                    personalmente della scrittura e della messa in scena dei
                    nostri spettacoli (sul palco, nel backstage e nella parte
                    tecnica), abbiamo come obiettivo principale la solidarietà:
                    l’incasso di ogni serata viene infatti devoluto in
                    beneficenza a diverse associazioni del territorio.
                </p>
            </TextImage>
        </section>
        <section>
            <h2>I NOSTRI OBIETTIVI</h2>
            <FeaturedBulletPoints>
                <BulletPoint
                    icon="fa-solid fa-face-laugh-wink"
                    text="Sostenere le nuove generazioni creando momenti di unione"
                />
                <BulletPoint
                    icon="fa-solid fa-masks-theater"
                    text="Promuovere l'arte e la cultura"
                />
                <BulletPoint
                    icon="fa-solid fa-heart"
                    text="Devolvere il ricavato degli spettacoli in beneficenza"
                />
            </FeaturedBulletPoints>
        </section>
        <!-- <section class="section-light">
            <h2>I SOCI FONDATORI</h2>
            <PeopleSlideshowCard people={JSON.stringify(sociFondatori)} />
        </section>
        <section class="section-light">
            <h2>TEAM SCRITTURA</h2>
            <PeopleSlideshowCard people={JSON.stringify(teamScrittura)} />
        </section>
        <section class="section-light">
            <h2>TEAM COMUNICAZIONE</h2>
            <PeopleSlideshowCard people={JSON.stringify(teamComunicazione)} />
        </section> -->
        <section class="section-light">
            <h2>LA NOSTRA STORIA</h2>
            <Grid>
                <TimelineItem
                    title="2021"
                    text="L’anno in cui è cominciato tutto. Accomunati dalla voglia di riappropriarci della nostra vita e di costruire qualcosa di bello e di importante dopo il Covid, ci siamo incontrati, abbiamo iniziato a fare amicizia e a scoprire le passioni e le affinità che ci legavano, e a novembre ci siamo esibiti nel nostro primo mini musical."
                />
                <TimelineItem
                    title="2022"
                    text="L’anno della nascita ufficiale di AFK Progetto Giovani. A gennaio abbiamo fondato la nostra associazione culturale no-profit, e pian piano il nostro gruppo si è allargato, abbiamo iniziato a farci conoscere, e siamo diventati sempre più numerosi ed affiatati. A maggio abbiamo debuttato con il nostro primo musical, ‘A Million Dreams’, che ha avuto un ottimo successo di pubblico, a cui sono seguite diverse repliche."
                />
                <TimelineItem
                    title="2023"
                    text="Il debutto di AFK in Sicilia. A marzo abbiamo realizzato uno spettacolo sperimentale, frutto della contaminazione tra poesia, teatro e musica, intitolato ‘Frammenti d’Amore e di Follia’, che ci ha dato molte soddisfazioni. Ma l’evento più emozionante del 2023 è stato senz’altro portare il nostro musical ‘A Million Dreams’ sul palco del prestigioso Teatro Orione di Palermo. E’ stata anche la nostra prima trasferta insieme, e ci ha resi ancora più uniti e più consapevoli di quanto sia importante quello che facciamo."
                />
                <TimelineItem
                    title="2024"
                    text="Work in progress: l’immenso piacere di portare in scena il primo musical pensato, scritto e realizzato completamente da noi. Stiamo lavorando a ‘Il sentiero d’argento’, un nostro testo che debutterà per la prima volta il 9 giugno, e che racconta la storia di quanto possa essere potente un’idea, anche quando la società cerca in ogni modo di ostacolare chi darebbe la vita per difenderla."
                />
            </Grid>
            <Image src={laNostraStoriaImage} alt="Una foto di noi" />
        </section>
        <section>
            <TextVideo>
            <h2>CURIOSITÀ SU UN NOSTRO SPETTACOLO</h2>
            <p>
                Da ‘A Million Dreams’, oltre che il nostro primo spettacolo, è
                nata anche una poesia che Federica, una dei nostri amici
                ‘diversamente giovani’ ha voluto dedicarci, con l’intento di
                racchiudere nei suoi versi la passione, l’energia e le
                meraviglie che ci legano, e che portiamo non solo sul palco, ma
                in tutte le cose che facciamo insieme.
            </p>
            <iframe
                loading="lazy"
                slot="video"
                width="860"
                height="487"
                src="https://www.youtube.com/embed/XaWzyOe1vBU"
                title="A Million Dreams"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </TextVideo>
        </section>
        <section class="section-light">
            <h2>TRASPARENZA</h2>
            <a href="/statuto.pdf">Statuto dell'associazione AFK PROGETTO GIOVANI</a>
        </section>
    </main>
</Layout>

<style>
    a {
        text-align: center;
        text-decoration: underline;
    }
</style>
