---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import BulletPoint from '../components/BulletPoint.astro';
import TextImage from '../components/TextImage.astro';
import FeaturedBulletPoints from '../components/FeaturedBulletPoints.astro';
import TimelineItem from '../components/TimelineItem.astro';
import Grid from '../components/Grid.astro';
import PeopleSlideshowCard from '../components/PeopleSlideshowCard.astro';

import { Image } from 'astro:assets';
import chiSiamoImage from '../assets/chi-siamo.jpg';
import laNostraStoriaImage from '../assets/la-nostra-storia.jpg';

// People slideshow cards
import salvatoreTranchinaImage from '../assets/people/SalvatoreTranchina.png';
const sociFondatori = [
    {name: 'Adriano Max', role: 'Fondatore', img: salvatoreTranchinaImage, alt: 'Adriano Max'},
    {name: 'Salvatore Tranchina', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Salvatore Tranchina'},
    {name: 'Maria Teresa Piraino', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Maria Teresa Piraino'}
];
const teamScrittura = [
    {name: 'Adriano Max', role: 'Fondatore', img: salvatoreTranchinaImage, alt: 'Adriano Max'},
    {name: 'Salvatore Tranchina', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Salvatore Tranchina'},
    {name: 'Maria Teresa Piraino', role: 'Tipo di ruolo', img: salvatoreTranchinaImage, alt: 'Maria Teresa Piraino'}
];
const teamComunicazione = [
    {name: 'Samuele Max', role: 'Web Developer', img: salvatoreTranchinaImage, alt: 'Samuele Max'},
    {name: 'Federico Capuzzi', role: 'Digital Communication', img: salvatoreTranchinaImage, alt: 'Federico Capuzzi'},
    {name: 'Joselyn Zambrano', role: 'Digital and Graphic Designer', img: salvatoreTranchinaImage, alt: 'Joselyn Zambrano'}
];
---

<Layout title="Chi siamo - AFK Progetto Giovani">
    <main>
        <PageTitle title="CHI SIAMO?" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section class="section-light">
            <TextImage img={chiSiamoImage} alt="Una foto di noi">
                <h2>LONTANO DAGLI SCHERMI, FUORI DAGLI SCHEMI</h2>
                <p>Siamo un gruppo composto da persone di diverse età con l'obiettivo di stare lontano dagli schermi ma fuori dagli schemi. Insieme impariamo a credere in noi stessi, attraverso nuove sfide e</p>        
            </TextImage>
        </section>
        <section>
            <h2>I NOSTRI OBIETTIVI</h2>
            <FeaturedBulletPoints>
                <BulletPoint icon="fa-solid fa-face-laugh-wink" text="Sostenere le nuove generazioni creando momenti di unione" />
                <BulletPoint icon="fa-solid fa-masks-theater" text="Promuovere l'arte e la cultura" />
                <BulletPoint icon="fa-solid fa-heart" text="Devolvere il ricavato degli spettacoli in beneficenza" />
            </FeaturedBulletPoints>
        </section>
        <section class="section-light">
            <h2>I SOCI FONDATORI</h2>
            <PeopleSlideshowCard people={JSON.stringify(sociFondatori)} />
        </section>
        <section class="section-light">
            <h2>TEAM SCRITTURA</h2>
            <PeopleSlideshowCard people={JSON.stringify(teamScrittura)} />
        </section>
        <section class="section-light">
            <h2>TEAM COMUNICAZIONE</h2>
            <PeopleSlideshowCard people={JSON.stringify(teamComunicazione)} />
        </section>
        <section class="section-light">
            <h2>LA NOSTRA STORIA</h2>
            <Grid>
                <TimelineItem title="2020" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                <TimelineItem title="2021" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                <TimelineItem title="2022" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                <TimelineItem title="2023" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
            </Grid>
            <Image src={laNostraStoriaImage} alt="Una foto di noi" />
        </section>
        <section class="section-light">
            <h2>TRASPARENZA</h2>
            <a href="#">Statuto dell'associazione AFK PROGETTO GIOVANI</a>    
        </section>
    </main>
</Layout>

<style>
    a {
        text-align: center;
        text-decoration: underline;
    }
</style>
