---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';

import { Image } from 'astro:assets';
import chisiamoImage from '../assets/chi-siamo.jpg';
---

<Layout title="Dicono di noi - AFK Progetto Giovani">
    <main>
        <PageTitle title="DICONO DI NOI" />
        <section>
            <div>
                <h2>COSA NE PENSANO DEL NOSTRO PROGETTO?</h2>
                <Image src={chisiamoImage} alt="Una foto di noi" />
                <Image src={chisiamoImage} alt="Una foto di noi" />
                <Image src={chisiamoImage} alt="Una foto di noi" />
                <Image src={chisiamoImage} alt="Una foto di noi" />
                <Image src={chisiamoImage} alt="Una foto di noi" />
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
    </main>
</Layout>

<style>
    #placeholder1 {
        height: 16.9rem;
    }
</style>
