---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import EventCard from "../components/EventCard.astro";
import PastEventCard from "../components/PastEventCard.astro";
import Grid from "../components/Grid.astro";
import { getCollection } from "astro:content";

import chiSiamoImage from "../assets/chi-siamo.jpg";
import ilSentieroDiArgentoLocandinaImage from "../assets/events/il-sentiero-di-argento/locandina.jpg";

const events = (await getCollection("events")).sort((a, b) => Number(b.data.date) - Number(a.data.date));
---

<Layout title="Eventi - AFK Progetto Giovani">
    <main>
        <PageTitle title="EVENTI" img="/pagetitles/eventi.webp" />
        <section>
            <h2>PROSSIMI EVENTI</h2>
            <EventCard
                title="Il sentiero d'argento"
                text="Un giovane becchino, un filosofo dimenticato e un trattato proibito: questa storia racconta quanto può essere potente un'idea, anche quando il mondo la ignora."
                url="https://wa.me/+393513190008"
                date="Domenica 9 giu 2024 - 18:30"
                place="Auditorium Padre Reina Rho"
                img={ilSentieroDiArgentoLocandinaImage}
                alt="Locandina Il Sentiero di Argento"
            />
        </section>
        <section class="section-light" id="eventi-passati">
            <h2>EVENTI PASSATI</h2>
            <Grid>
                {
                    events.map((event) => (
                        <PastEventCard
                            url={`/events/${event.slug}`}
                            title={event.data.title}
                            text={event.data.text.length > 75 ? event.data.text.slice(0, 75) + "..." : event.data.text}
                            date={event.data.date.toLocaleDateString("it-it", {day: "numeric", month: "long", year: "numeric"})}
                            place={event.data.place}
                            img={event.data.image}
                        />
                    ))
                }
            </Grid>
        </section>
    </main>
</Layout>
