---
const { title, text, url, date, place, img, alt } = Astro.props;

import Button from './Button.astro';
import ButtonLink from './ButtonLink.astro';
import BulletPoint from './BulletPoint.astro';
import TextImage from './TextImage.astro';
import FeaturedBulletPoints from './FeaturedBulletPoints.astro';
---

<div class="card">
    <TextImage img={img} alt={alt} reverse=true>
        <h3>{title}</h3>
        <p>{text}</p>
        <BulletPoint icon="fa-solid fa-location-dot" text={place} />
        <BulletPoint icon="fa-solid fa-clock" text={date} />
        <Button text="Scopri di più" />
    </TextImage>
</div>

<aside id="modal">
    <div class="modal">
        <TextImage img={img} alt={alt}>
            <h2>{title.toUpperCase()}</h2>
            <p>{text}</p>
            <FeaturedBulletPoints>
                <BulletPoint icon="fa-solid fa-location-dot" text={place} />
                <BulletPoint icon="fa-solid fa-clock" text={date} />
                <BulletPoint icon="fa-solid fa-euro-sign" text="Ingresso a offerta libera" />
            </FeaturedBulletPoints>
            <ButtonLink url={url} text="Prenota i biglietti" icon="fa-brands fa-whatsapp" />
        </TextImage>
        <span id="modal-close"><i class="fa-solid fa-xmark"></i></span>
    </div>
</aside>

<style>
    .card {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    .card h3 {
        text-align: left;
    }

    aside {
        display: none;
        position: fixed;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .modal {
        position: absolute;
        top: var(--space-l);
        left: 0;
        padding: var(--space-m) var(--space-l);
        border-radius: var(--border-radius);
        background-color: var(--pink-2);
    }
    .modal h2 {
        padding: var(--space-s) 0;
        background: var(--white-3);
    }
    .modal span {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        color: var(--pink-9);
        font-size: 1.5625rem;
        cursor: pointer;
    }

    @media screen and (min-width: 1000px) {
        .card {
            flex-direction: row-reverse;
        }
        
        .modal {
            width: calc(90% - var(--space-m) * 2);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: var(--space-m);
        }
        .modal span {
            right: 1.25rem;
            font-size: 3.125rem;
        }
    }
</style>

<script>
    function toggleModal(modal) {
        modal.style.display = (modal.style.display === 'flex') ? 'none' : 'flex';
    }

    // Add toggle modal event listeners
    let modal = document.getElementById('modal');
    document.getElementsByTagName('button')[0].addEventListener('click', () => toggleModal(modal));
    document.getElementById('modal-close').addEventListener('click', () => toggleModal(modal));
</script>
