---
const { title, text, date, place, img, alt } = Astro.props;

import Button from './Button.astro';
import ButtonLink from './ButtonLink.astro';
import BulletPoint from './BulletPoint.astro';

import { Image } from 'astro:assets';
---

<div class="card">
    <div>
        <Image src={img} alt={alt} />
    </div>
    <div class="info">
        <h3>{title}</h3>
        <p>{text}</p>
        <BulletPoint icon="fa-solid fa-location-dot" text={place} />
        <BulletPoint icon="fa-solid fa-clock" text={date} />
        <Button text="Scopri di più" />
    </div>
</div>

<aside>
    <div class="modal">
        <span id="modal-close"><i class="fa-solid fa-xmark"></i></span>
        <h2>{title.toUpperCase()}</h2>
        <p>{text}</p>

        <p class="bold"><i class="fa-solid fa-location-dot"></i>{place}</p>
        <p class="bold"><i class="fa-solid fa-clock"></i>{date}</p>
        <p class="bold"><i class="fa-solid fa-euro-sign"></i>Ingresso a offerta libera</p>
        <ButtonLink url="#" text="Prenota i biglietti" icon="fa-solid fa-ticket" />
        <Image src={img} alt={alt} />
    </div>
</aside>

<style>
    .card {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }
    .info h3 {
        text-align: left;
    }
    .info p {
        color: var(--black-1);
    }
    i {
        margin-right: var(--space-s);
        font-size: 3.125rem;
    }

    aside {
        display: none;
        position: fixed;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .modal {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        position: absolute;
        top: var(--space-l);
        padding: var(--space-m) var(--space-l);
        border-radius: var(--border-radius);
        background-color: var(--pink-2);
    }
    .modal h2 {
        padding: var(--space-s) 0;
        background: var(--white-3);
    }
    .modal span {
        position: absolute;
        top: 0.625rem;
        right: 0;
        color: var(--pink-9);
        font-size: 1.5625rem;
    }

    @media screen and (min-width: 1000px) {
        .card {
            flex-direction: row-reverse;
        }
    }
</style>

<script>
    function toggleModal(modal) {
        modal.style.display = (modal.style.display === 'flex') ? 'none' : 'flex';
    }

    // Add toggle modal event listeners
    let modal = document.getElementsByTagName('aside')[0];
    document.getElementsByTagName('button')[0].addEventListener('click', () => {
        toggleModal(modal);
    });
    document.getElementById('modal-close').addEventListener('click', () => {
        toggleModal(modal);
    });
</script>
