---
import ButtonLink from './ButtonLink.astro';

const { url, title, text, date, place, img } = Astro.props
---

<div class="card">
    <div class="info">
        <h4>{title}</h4>
        <p style="font-style: italic; font-weight: 600;">{date} - {place}</p>
        <p>{text}</p>
        <ButtonLink url={url} text="Guarda le foto" />
    </div>
</div>

<style define:vars={{img: `url('${img}')`}}>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 18rem;
        padding: var(--space-m);
        border-radius: var(--border-radius);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--img);
        background-size: cover;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s);
        padding: var(--space-s);
        border-radius: var(--border-radius);
        background: var(--pink-2);
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        .card {
            height: 24rem;
            padding: var(--space-s) var(--space-m);
        }
    }
</style>
