---
const { people } = Astro.props;

import { Image } from 'astro:assets';
---

<people-slideshow-card class="people-slideshow-card" data-people={people}>
    <Image id="person-image" src={JSON.parse(people)[0].img} alt={JSON.parse(people)[0].alt} />
    <span id="previous"><i class="fa-solid fa-circle-chevron-left"></i></span>
    <span id="next"><i class="fa-solid fa-circle-chevron-right"></i></span>
    <div class="info">
        <h3 id="person-name">{JSON.parse(people)[0].name}</h3>
        <p id="person-role" class="italic">{JSON.parse(people)[0].role}</p>
    </div>
</people-slideshow-card>

<style>
    .people-slideshow-card {
        position: relative;
        max-width: 45rem;
    }
    #previous, #next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        cursor: pointer;
    }
    #previous {
        left: 0.875rem;
    }
    #next {
        right: 0.875rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        position: absolute;
        width: calc(100% - var(--space-m) * 2);
        bottom: 0;
        padding: var(--space-s) var(--space-m);
        border-radius: var(--border-radius);
        background: var(--pink-3);
    }
    h3 {
        text-align: left;
    }

    @media screen and (min-width: 1000px) {
        #previous, #next {
            font-size: 2.5rem;
        }
        #previous {
            left: 1rem;
        }
        #next {
            right: 1rem;
        }

        .info {
            gap: var(--border-radius);
        }
    }
</style>

<script>
    class PeopleSlideshowCard extends HTMLElement {
        constructor() {
            super();

            const people = JSON.parse(this.dataset.people);

            let currentIndex = 0;

            const personImage = this.querySelector('#person-image');
            const personName = this.querySelector('#person-name');
            const personRole = this.querySelector('#person-role');

            this.querySelector('#previous').addEventListener('click', () => nextSlideshowImage(-1));
            this.querySelector('#next').addEventListener('click', () => nextSlideshowImage());

            function nextSlideshowImage(n = 1) {
                currentIndex = (currentIndex + n + people.length) % people.length;

                personImage.src = people[currentIndex].img.src;
                personImage.alt = people[currentIndex].alt;
                personName.textContent = people[currentIndex].name;
                personRole.textContent = people[currentIndex].role;
            }
        }
    }

    customElements.define('people-slideshow-card', PeopleSlideshowCard);
</script>
